:root {
  --main-color: #ebf3e8;
  --container-color: #bba066;
  --section1 : #000000;
  --section2 : #505050;
}

body {
  background-image: url("../img/log\ in.jpg");
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(5px);
}
.container {
  background-color: #c0b093ea;
  color: var(--section1);
  max-width: 600px;
  height: 700px;
  padding: 50px;
  padding-top: 70px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
#loginForm{
  padding-top: 30px;
}
button.btn {
  width: 100%;
  font-size: 28px;
  margin-left: 50px;
  background-color: #505050;
  color: #f5e6d5;
  border: var(--main-color);
}
.form-control {
  height: 50px;
  font-size: 20px;
}
button.btn:hover {
  width: 100%;
  color: #332310;
  font-weight: bold;
  background-color: rgba(84, 116, 163, 0.87);
}

.form-label {
  color: var(--section1);
  font-size: 1.7rem;
}

h1 {
  color: #332310;
}

.link {
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

/* a {
  color: var(--font-color);
} */
a {
  color: #332310;
  font-style: italic;
  font-weight: bold;
}

a:hover {
  /* color: #271b0d; */
  color: #c46b06;
  /* font-size: large; */
  letter-spacing: 1px;
}
